<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>20 ipad</key>
		<dict>
			<key>Dimensions</key>
			<string>{20,20}</string>
			<key>Name</key>
			<string>icon-20</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>20 2ipad</key>
		<dict>
			<key>Dimensions</key>
			<string>{40,40}</string>
			<key>Name</key>
			<string>icon-20@2x</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>20 2</key>
		<dict>
			<key>Dimensions</key>
			<string>{40,40}</string>
			<key>Name</key>
			<string>icon-20@2x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>20 3</key>
		<dict>
			<key>Dimensions</key>
			<string>{60,60}</string>
			<key>Name</key>
			<string>icon-20@3x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>29</key>
		<dict>
			<key>Dimensions</key>
			<string>{29,29}</string>
			<key>Name</key>
			<string>icon-29</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>29 2</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>icon-29@2x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>29 3</key>
		<dict>
			<key>Dimensions</key>
			<string>{87,87}</string>
			<key>Name</key>
			<string>icon-29@3x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>29 ipad</key>
		<dict>
			<key>Dimensions</key>
			<string>{29,29}</string>
			<key>Name</key>
			<string>icon-29</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>29 2 ipad</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>icon-29@2x</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>40 ipad</key>
		<dict>
			<key>Dimensions</key>
			<string>{40,40}</string>
			<key>Name</key>
			<string>icon-40</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>40 2 ipad</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>icon-40@2x</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>40 2</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>icon-40@2x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>40 3</key>
		<dict>
			<key>Dimensions</key>
			<string>{120,120}</string>
			<key>Name</key>
			<string>icon-40@3x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>60 2</key>
		<dict>
			<key>Dimensions</key>
			<string>{120,120}</string>
			<key>Name</key>
			<string>icon-60@2x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>60 3</key>
		<dict>
			<key>Dimensions</key>
			<string>{180,180}</string>
			<key>Name</key>
			<string>icon-60@3x</string>
			<key>idiom</key>
			<string>iphone</string>
		</dict>
		<key>76</key>
		<dict>
			<key>Dimensions</key>
			<string>{76,76}</string>
			<key>Name</key>
			<string>icon-76</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>76 2</key>
		<dict>
			<key>Dimensions</key>
			<string>{152,152}</string>
			<key>Name</key>
			<string>icon-76@2x</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>83.5</key>
		<dict>
			<key>Dimensions</key>
			<string>{167,167}</string>
			<key>Name</key>
			<string>icon-83.5@2x</string>
			<key>idiom</key>
			<string>ipad</string>
		</dict>
		<key>1024</key>
		<dict>
			<key>Dimensions</key>
			<string>{1024,1024}</string>
			<key>Name</key>
			<string>icon-1024</string>
			<key>idiom</key>
			<string>ios-marketing</string>
		</dict>
	</dict>
	<dict>
		<key>iPad Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{72,72}</string>
			<key>Name</key>
			<string>icon-72</string>
		</dict>
		<key>iPad Retina (iOS6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{144,144}</string>
			<key>Name</key>
			<string>icon-72@2x</string>
		</dict>
		<key>iPad Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{152,152}</string>
			<key>Name</key>
			<string>icon-76@2x</string>
		</dict>
		<key>iPad Non-Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{76,76}</string>
			<key>Name</key>
			<string>icon-76</string>
		</dict>
		<key>iPad Spotlight Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{50,50}</string>
			<key>Name</key>
			<string>icon-Small-50</string>
		</dict>
		<key>iPad Spotlight Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{100,100}</string>
			<key>Name</key>
			<string>icon-Small-50@2x</string>
		</dict>
		<key>iPad Spotlight Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>icon-Small-40@2x</string>
		</dict>
		<key>iPad Spotlight Non-Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{40,40}</string>
			<key>Name</key>
			<string>icon-Small-40</string>
		</dict>
		<key>iPad Setting Non-Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{29,29}</string>
			<key>Name</key>
			<string>icon-Small</string>
		</dict>
		<key>iPad Setting Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>icon-Small@2x</string>
		</dict>
	</dict>
	<dict>
		<key>AssetOniPhone@2x</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>AssetOniPhone@2x</string>
		</dict>
		<key>AssetOniPhone@3x</key>
		<dict>
			<key>Dimensions</key>
			<string>{87,87}</string>
			<key>Name</key>
			<string>AssetOniPhone@3x</string>
		</dict>
		<key>NotificationCenterIcon</key>
		<dict>
			<key>Dimensions</key>
			<string>{48,48}</string>
			<key>Name</key>
			<string>NotificationCenterIcon@2x</string>
		</dict>
		<key>NotificationCenterIconL</key>
		<dict>
			<key>Dimensions</key>
			<string>{55,55}</string>
			<key>Name</key>
			<string>NotificationCenterIconL@2x</string>
		</dict>
		<key>Long-LookNotificationIcon</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>Long-LookNotificationIcon@2x</string>
		</dict>
		<key>Long-LookNotificationIconL</key>
		<dict>
			<key>Dimensions</key>
			<string>{88,88}</string>
			<key>Name</key>
			<string>Long-LookNotificationIconL@2x</string>
		</dict>
		<key>HomeScreenIcon</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>HomeScreenIcon@2x</string>
		</dict>
		<key>Short-LookIcon</key>
		<dict>
			<key>Dimensions</key>
			<string>{172,172}</string>
			<key>Name</key>
			<string>Short-LookIcon@2x</string>
		</dict>
		<key>Short-LookIconL</key>
		<dict>
			<key>Dimensions</key>
			<string>{196,196}</string>
			<key>Name</key>
			<string>Short-LookIconL@2x</string>
		</dict>
	</dict>
	<dict>
		<key>Mac Non-Retina Small</key>
		<dict>
			<key>Dimensions</key>
			<string>{16,16}</string>
			<key>Name</key>
			<string>icon_16x16</string>
		</dict>
		<key>Mac Retina Small</key>
		<dict>
			<key>Dimensions</key>
			<string>{32,32}</string>
			<key>Name</key>
			<string>icon_16x16@2x</string>
		</dict>
		<key>Mac Non-Retina Medium</key>
		<dict>
			<key>Dimensions</key>
			<string>{32,32}</string>
			<key>Name</key>
			<string>icon_32x32</string>
		</dict>
		<key>Mac Retina Medium</key>
		<dict>
			<key>Dimensions</key>
			<string>{64,64}</string>
			<key>Name</key>
			<string>icon_32x32@2x</string>
		</dict>
		<key>Mac Non-Retina Icon</key>
		<dict>
			<key>Dimensions</key>
			<string>{128,128}</string>
			<key>Name</key>
			<string>icon_128x128</string>
		</dict>
		<key>Mac Retina Icon</key>
		<dict>
			<key>Dimensions</key>
			<string>{256,256}</string>
			<key>Name</key>
			<string>icon_128x128@2x</string>
		</dict>
		<key>Mac Non-Retina Big</key>
		<dict>
			<key>Dimensions</key>
			<string>{256,256}</string>
			<key>Name</key>
			<string>icon_256x256</string>
		</dict>
		<key>Mac Retina Big</key>
		<dict>
			<key>Dimensions</key>
			<string>{512,512}</string>
			<key>Name</key>
			<string>icon_256x256@2x</string>
		</dict>
		<key>Mac Non-Retina Large</key>
		<dict>
			<key>Dimensions</key>
			<string>{512,512}</string>
			<key>Name</key>
			<string>icon_512x512</string>
		</dict>
		<key>Mac Retina Large</key>
		<dict>
			<key>Dimensions</key>
			<string>{1024,1024}</string>
			<key>Name</key>
			<string>icon_512x512@2x</string>
		</dict>
	</dict>
  <dict>
    <key>2688h</key>
    <dict>
      <key>Dimensions</key>
      <string>{1242,2688}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPhone Portrait iOS11+@3x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>12.0</string>
      <key>orientation</key>
      <string>portrait</string>
      <key>subtype</key>
      <string>2688h</string>
    </dict>
    <key>1792h</key>
    <dict>
      <key>Dimensions</key>
      <string>{828,1792}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPhone Portrait iOS11+@2x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>12.0</string>
      <key>orientation</key>
      <string>portrait</string>
      <key>subtype</key>
      <string>1792h</string>
    </dict>
    <key>2436h</key>
    <dict>
      <key>Dimensions</key>
      <string>{1125,2436}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPhone Portrait iOS11+2436h@3x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>11.0</string>
      <key>orientation</key>
      <string>portrait</string>
      <key>subtype</key>
      <string>2436h</string>
    </dict>
    <key>736h</key>
    <dict>
      <key>Dimensions</key>
      <string>{1242 , 2208}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iOS 8-Retina HD 5.5@3x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>8.0</string>
      <key>orientation</key>
      <string>portrait</string>
      <key>subtype</key>
      <string>736h</string>
    </dict>
    <key>667h</key>
    <dict>
      <key>Dimensions</key>
      <string>{750 , 1334}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iOS 8-Retina HD 4.7@2x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>8.0</string>
      <key>orientation</key>
      <string>portrait</string>
      <key>subtype</key>
      <string>667h</string>
    </dict>
    <key>ios 7 8 2x</key>
    <dict>
      <key>Dimensions</key>
      <string>{640 ,960}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iOS 7,8@2x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>7.0</string>
      <key>orientation</key>
      <string>portrait</string>
    </dict>
    <key>retina4</key>
    <dict>
      <key>Dimensions</key>
      <string>{640 , 1136}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iOS 7,8-Retina 4@2x</string>
      <key>idiom</key>
      <string>iphone</string>
      <key>minimum-system-version</key>
      <string>7.0</string>
      <key>orientation</key>
      <string>portrait</string>
      <key>subtype</key>
      <string>retina4</string>
    </dict>
    <key>ipad portrait</key>
    <dict>
      <key>Dimensions</key>
      <string>{768 , 1024}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPad Portrait iOS 7-9</string>
      <key>idiom</key>
      <string>ipad</string>
      <key>minimum-system-version</key>
      <string>7.0</string>
      <key>orientation</key>
      <string>portrait</string>
    </dict>
    <key>ipad landscape</key>
    <dict>
      <key>Dimensions</key>
      <string>{1024 , 768}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPad Landscape iOS 7-9</string>
      <key>idiom</key>
      <string>ipad</string>
      <key>minimum-system-version</key>
      <string>7.0</string>
      <key>orientation</key>
      <string>landscape</string>
    </dict>
    <key>ipad portrait 2x</key>
    <dict>
      <key>Dimensions</key>
      <string>{1536 , 2048}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPad Portrait iOS 7-9@2x</string>
      <key>idiom</key>
      <string>ipad</string>
      <key>minimum-system-version</key>
      <string>7.0</string>
      <key>orientation</key>
      <string>portrait</string>
    </dict>
    <key>ipad landscape 2x</key>
    <dict>
      <key>Dimensions</key>
      <string>{2048 , 1536}</string>
      <key>extent</key>
      <string>full-screen</string>
      <key>Name</key>
      <string>iPad Landscape iOS 7-9@2x</string>
      <key>idiom</key>
      <string>ipad</string>
      <key>minimum-system-version</key>
      <string>7.0</string>
      <key>orientation</key>
      <string>landscape</string>
    </dict>
<!--    <key>test</key>-->
<!--    <dict>-->
<!--      <key>Dimensions</key>-->
<!--      <string>{1080 , 1920}</string>-->
<!--      <key>extent</key>-->
<!--      <string>full-screen</string>-->
<!--      <key>Name</key>-->
<!--      <string>test</string>-->
<!--      <key>idiom</key>-->
<!--      <string>ipad</string>-->
<!--      <key>minimum-system-version</key>-->
<!--      <string>7.0</string>-->
<!--      <key>orientation</key>-->
<!--      <string>landscape</string>-->
<!--    </dict>-->
  </dict>
	<dict>
		<key>@1x</key>
		<string></string>
		<key>@2x</key>
		<string></string>
		<key>@3x</key>
		<string></string>
	</dict>
</array>
</plist>
